@use './styles/variables';
@use './styles/base';
@use './styles/layout';
@use './styles/components';
@use "tailwindcss";
@import 'primeicons/primeicons.css';

html, body {
  font-family: "Segoe UI", Inter, "Helvetica Neue", Arial, sans-serif;
  background: var(--etms-bg-app);
  color: var(--etms-text-primary);
}
