<div class="activity-wrapper">

  <div class="activity-title">
    Activity
  </div>

  <div class="activity-list">

    <div
      class="activity-item"
      *ngFor="let a of activitiesSorted()"
    >

      <div class="activity-dot"></div>

      <div class="activity-content">

        <div class="activity-main">
          <strong>User {{a.userId}}</strong>
          {{ getActionText(a) }}
        </div>

        <div
          class="activity-change"
          *ngIf="a.oldValue || a.newValue"
        >
          {{a.oldValue}} → {{a.newValue}}
        </div>

        <div class="activity-time">
          {{ formatTime(a.createdAt) }}
        </div>

      </div>

    </div>

  </div>

</div>