.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f7fb;
}

.layout-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 20px;
}