<div class="ui-custom-select" [class.is-disabled]="disabled" [class.is-compact]="size === 'compact'">
  <span class="helper-label" *ngIf="helperLabel && size !== 'compact'">{{ helperLabel }}</span>

  <p-select
    *ngIf="!multiple"
    styleClass="prime-custom-select"
    appendTo="body"
    optionLabel="label"
    optionValue="value"
    filterBy="label,description"
    [filter]="true"
    [filterPlaceholder]="searchPlaceholder"
    [emptyMessage]="emptyLabel"
    [emptyFilterMessage]="emptyLabel"
    [options]="options"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngModel]="normalizedValue"
    (ngModelChange)="emitValue($event)">
    <ng-template pTemplate="item" let-option>
      <div class="select-option-template">
        <strong>{{ option.label }}</strong>
        <small *ngIf="option.description">{{ option.description }}</small>
      </div>
    </ng-template>
  </p-select>

  <p-multiselect
    *ngIf="multiple"
    styleClass="prime-custom-select"
    appendTo="body"
    display="chip"
    optionLabel="label"
    optionValue="value"
    filterBy="label,description"
    selectedItemsLabel="{0} lựa chọn"
    [filter]="true"
    [filterPlaceHolder]="searchPlaceholder"
    [emptyMessage]="emptyLabel"
    [emptyFilterMessage]="emptyLabel"
    [options]="options"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngModel]="normalizedValue"
    (ngModelChange)="emitValue($event)">
    <ng-template pTemplate="item" let-option>
      <div class="select-option-template">
        <strong>{{ option.label }}</strong>
        <small *ngIf="option.description">{{ option.description }}</small>
      </div>
    </ng-template>
  </p-multiselect>
</div>
