<div class="page-title">
  Task Board
</div>

<!-- Filters -->
<div class="filters">

  <input placeholder="Search..." (input)="search.set($any($event.target).value)" />

  <select (change)="selectedPriority.set($any($event.target).value)">
    <option>All</option>
    <option>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>

  <select (change)="selectedDepartment.set($any($event.target).value)">
    <option value="All">All Departments</option>
    <option *ngFor="let d of departments()" [value]="d.id">
      {{ d.name }}
    </option>
  </select>
</div>
<button class="create-btn" (click)="openCreateModal()">
  + New Task
</button>
<!-- Kanban -->
<div class="kanban">

  <div class="kanban-column" *ngFor="let col of filteredColumns()" cdkDropList [cdkDropListData]="col.tasks"
    (cdkDropListDropped)="drop($event, col.status)">

    <div class="column-header">
      {{ col.title }}
      <span>{{ col.tasks.length }}</span>
    </div>

    <div class="task-card" *ngFor="let task of col.tasks" cdkDrag (click)="openTask(task)">

      <button class="delete-btn" (click)="deleteTask(task, $event)">
        ✕
      </button>

      <h4>{{ task.title }}</h4>

      <div class="department-badge">
        {{ getDepartmentName(task.departmentId) }}
      </div>

      <p class="description">
        {{ task.description }}
      </p>

      <div class="task-meta">
        <span class="badge">
          {{ task.priority }}
        </span>
        <span class="deadline">
          {{ task.deadline | date:'MMM d, y' }}
        </span>
      </div>
      <div class="assignee">
        {{ task.assignee }}
      </div>
      <div class="progress-wrapper">
        <div class="progress-bar" [style.width.%]="getProgress(task)">
        </div>
      </div>

      <div class="progress-text">
        {{ getProgress(task) }}%
      </div>
      <div *ngIf="isOverdue(task)" class="overdue">
        Overdue
      </div>

    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="selectedTask()">

  <div class="modal">

    <h3>Edit Task</h3>

    <input [(ngModel)]="selectedTask()!.title" />

    <textarea [(ngModel)]="selectedTask()!.description">
    </textarea>

    <select [(ngModel)]="selectedTask()!.priority">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>

    <div class="modal-actions">
      <button (click)="saveTask()">
        Save
      </button>

      <button class="cancel" (click)="closeModal()">
        Cancel
      </button>
    </div>

  </div>

</div>