$bg-main: #f8fafc;
$bg-card: #ffffff;

$text-primary: #0f172a;
$text-secondary: #64748b;

$primary: #4f46e5;

$border-subtle: #f1f5f9;

$radius-xl: 20px;
$radius-lg: 16px;

$shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.04);
$shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.06);